/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Light Mode */
body {
  background: #f8fafc;
  color: #020617;
}

/* Navbar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #0f172a;
}

.logo-img {
  height: 40px;
}

/* Nav Right */
.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* Dark Button */
#themeBtn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

/* Hero */
.hero {
  height: 90vh;
  background: linear-gradient(135deg, #0f172a, #020617);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero p {
  margin-bottom: 25px;
}

.primary-btn {
  padding: 18px 45px;
  background: #38bdf8;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Services */
.services {
  padding: 70px 40px;
  text-align: center;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  padding: 30px;
  background: #f8fafc;
  border-radius: 10px;
}

/* Footer */
.footer {
  background: #020617;
  color: #cbd5f5;
  text-align: center;
  padding: 20px;
}

/* Dark Mode */
body.dark {
  background: #020617;
  color: white;
}

body.dark .navbar {
  background: #020617;
}

body.dark .nav-links a {
  color: #e5e7eb;
}

body.dark .card {
  background: #020617;
}

/* Responsive */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background: #0f172a;
    flex-direction: column;
    width: 200px;
    padding: 15px;
    display: none;
  }

  .nav-links.show {
    display: flex;
  }

  .service-grid {
    grid-template-columns: 1fr;
  }

  .hero h1 {
    font-size: 30px;
  }
}
